@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<address>
    FPTU <br />
    12 district, Ho Chi Minh, Viet Name<br />
    <abbr title="Phone">Hot Line:</abbr>
    09977553311
</address>

<address>
    <strong>Support:</strong> <a href="mailto:Support@example.com">LuonaTravel@gmail.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">LuonaTravelService@gmail.com</a>
</address>
