
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Search Page</title>



    <link rel="stylesheet" href="~/Home/styles/index.css">

</head>
<body>
    <div class="body"></div>
    <div class="grad"></div>
    <div class="header">

        <div> <img src="~/images/images.jpg"/ /></div>
        <div><span class="error">Luona </span>Travel</div>
    </div>

</body>
</html>
