@model ProjectDemo12.Models.City

@{
    ViewData["Title"] = "Create";
}

<h2>Create Page</h2>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="CityID" class="control-label"></label>
                <input asp-for="CityID" class="form-control" />
                <span asp-validation-for="CityID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RegionID" class="control-label"></label>
                <select asp-for="RegionID" class="form-control" asp-items="ViewBag.listAllRegion"></select>
            </div>
            <div class="form-group">
                <label asp-for="CityName" class="control-label"></label>
                <input asp-for="CityName" class="form-control" />
                <span asp-validation-for="CityName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CityLocation" class="control-label"></label>
                <input asp-for="CityLocation" class="form-control" />
                <span asp-validation-for="CityLocation" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OtherDetails" class="control-label"></label>
                <input asp-for="OtherDetails" class="form-control" />
                <span asp-validation-for="OtherDetails" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a class="btn btn-default" asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
